<div
  class="dropdown w-full text-[#656565] text-md font-light bg-white bg-dropdown aria-expanded:bg-none bg-no-repeat bg-[position:right_10px_center] relative select-none"
  aria-expanded="false"
  data-instance="{{ instance }}"
>
  <div class="dropdown-head py-[0.4rem] px-3 border border-[#D9D9D9] cursor-pointer">
    {% capture label %}
      {% assign i = 0 %}
      {% assign option_list = options | split: ',' %}
      {% for option in option_list %}
        {% assign item = option | split: '|' %}
        {% if item[0] == default %}
          {{ item[1] }}
          {% assign i = i | plus %}
        {% endif %}
      {% endfor %}
    {% endcapture %}
    {{ label }}
  </div>

  <div class="dropdown-options w-full pt-2 pb-1 bg-white border border-t-0 border-[#D9D9D9] mt-[-1px] md:absolute hidden">
    <ul>
      {% assign option_list = options | split: ',' %}
      {% for option in option_list %}
        {% assign item = option | split: '|' %}
        <li class="py-[0.5rem] px-3 cursor-pointer hover:bg-slate-100 transition-1">
          <a data-value="{{ item[0] }}" class="block text-slate-800">
            {{ item[1] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
