<div
  class="w-full max-w-[100dvw] !fixed h-16 top-0 left-0 !z-[9999] flex items-center justify-center bg-bts-yellow text-black overflow-hidden"
  style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }};"
>
  <div class="max-w-[1600px] m-auto flex flex-row items-center justify-between px-4 py-2 lg:gap-20">
    <div class="hidden lg:block font-bold text-base">
      {{ section.settings.desktop_announcement_text }}
    </div>

    <div class="lg:hidden flex-1 flex items-center justify-center">
      <div class="ticker h-6 overflow-hidden w-full">
        <div class="ticker-track">
          <ul class="ticker-list font-bold text-sm">
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">
              {{ section.settings.ticker_item_1 }}
            </li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">
              {{ section.settings.ticker_item_2 }}
            </li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">
              {{ section.settings.ticker_item_3 }}
            </li>
          </ul>
          <ul class="ticker-list font-bold text-sm" aria-hidden="true">
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">
              {{ section.settings.ticker_item_1 }}
            </li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">
              {{ section.settings.ticker_item_2 }}
            </li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">
              {{ section.settings.ticker_item_3 }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a
      href="{{ section.settings.cta_link_url }}"
      class="ml-4 px-6 py-2 rounded-lg text-sm font-semibold shadow-md hover:opacity-90 transition items-center gap-4 hidden lg:flex"
      style="background-color: {{ section.settings.cta_bg_color }}; color: {{ section.settings.cta_text_color }};"
    >
      {{ section.settings.cta_link_text }}

      <img
        src="{{ 'tabler_sparkles.svg' | asset_url }}"
        alt="{{ section.settings.cta_icon_alt }}"
        class="w-6 h-6 ml-2"
        width="16"
        height="16"
        style="filter: brightness(0) invert(1);"
      >
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "color",
      "id": "cta_bg_color",
      "label": "CTA background color",
      "default": "#1E40AF"
    },
    {
      "type": "color",
      "id": "cta_text_color",
      "label": "CTA text color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#F5D142"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "desktop_announcement_text",
      "label": "Desktop announcement text",
      "default": "FRUITY BACK TO SCHOOL DEALS! SAVINGS UP TO 33% ONLY UNTIL SEPT 14!"
    },
    {
      "type": "text",
      "id": "ticker_item_1",
      "label": "Ticker item 1",
      "default": "FRUITY BACK TO SCHOOL DEALS!"
    },
    {
      "type": "text",
      "id": "ticker_item_2",
      "label": "Ticker item 2",
      "default": "SAVINGS UP TO 33%"
    },
    {
      "type": "text",
      "id": "ticker_item_3",
      "label": "Ticker item 3",
      "default": "ONLY UNTIL SEPT 14!"
    },
    {
      "type": "url",
      "id": "cta_link_url",
      "label": "CTA Link URL",
      "default": "/pages/back-to-school#bts-products"
    },
    {
      "type": "text",
      "id": "cta_link_text",
      "label": "CTA Link Text",
      "default": "Back to school discounts"
    },
    {
      "type": "text",
      "id": "cta_icon_alt",
      "label": "CTA icon alt text",
      "default": "Arrow Right"
    }
  ]
}
{% endschema %}
