<div class="relative py-16 px-4 min-[1250px]:px-0">
  <div class="hidden min-[1380px]:block absolute bg-[#F8F8F8] h-[60%] top-0 left-0 w-full z-0"></div>

  <div class="relative flex flex-col items-center">
    <div class="md:font-medium text-sm tracking-wider mb-3">{{ section.settings.subtitle }}</div>
    <div>
      <h2 class="colored-title text-black font-bold text-3xl md:text-4xl leading-snug uppercase mb-8 md:mb-6 text-center">
        {{ section.settings.title }}
      </h2>
    </div>
  </div>

  <div class="min-[900px]:w-[70%] m-auto relative flex flex-col md:flex-row gap-x-6 gap-y-16 pb-2">
    {% for block in section.blocks %}
      <div>
        <div class="rounded-md overflow-hidden relative">
          {{ block.settings.image | image_url: width: 900 | image_tag: alt: block.settings.title, width: '100%' }}

          <div class="bg-white absolute bottom-0 left-0 pt-2 md:pt-3 pb-1 pl-2 pr-10 rounded-tr-md">
            <h3 class="colored-title-notracking text-lg md:text-2xl font-bold">
              {{ block.settings.title }}
            </h3>

            <div
              class="w-[20px] h-[20px] bg-[transparent] border-l-[5px] border-b-[5px] border-r-0 border-t-0 absolute right-[-15px] bottom-[-5px] rounded-bl-[12px] border-white"
            ></div>

            <div
              class="w-[20px] h-[20px] bg-[transparent] border-r-[5px] border-t-[5px] border-l-0 border-b-0 absolute left-[-5px] top-[-15px] rounded-tr-[12px] rotate-180 border-white"
            ></div>
          </div>
        </div>

        <div class="text-[0.8rem] text-[#343057] text-thin pt-5 pl-2 md:pr-10">
          {{ block.settings.desc }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Front page: Inside",
  "tag": "section",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "name": "Blocks",
      "type": "cans",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
